body {
    font-family: Arial;
    background: #121212;
    color: white;
}

.login-box {
    width: 300px;
    margin: 120px auto;
    padding: 30px;
    background: #1e1e1e;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.error {
    color: red;
}
